<div class="container-fluid">
    <div *ngIf="event" class="row">
    <div class="col-md-4">
      <img class="img-fluid img-thumbnail" src="{{event.picture.picture}}" />
      <!--Panel-->
      <div class="card card-block">
          <h4 class="card-title">12 visitors <small class="text-muted" ><a class="card-link">[all]</a></small></h4>
          <hr>
          <div *ngFor="let user of users" class="col-md-4  text-xs-center">
            <img src="{{user.avatar.picture}}" class="img-fluid rounded-circle" style="height:32px;margin: auto;">
            <p>{{user.login}}</p>

          </div>
      </div>
      <!--/.Panel-->
    </div>
    <div class="col-md-8">
      <div >
        <h3>{{event.title}}</h3>
        <p>{{event.description}}</p>
        <div class="row">
          <div class="col-md-4">
            <i class="fa fa-group fa-lg"></i> {{event.capacity}}
          </div>
          <div class="col-md-4">
            <i class="fa fa-money fa-lg"></i> {{event.price}}$
          </div>
          <div class="col-md-4">
            <i class="fa fa-calendar-check-o fa-lg"></i> <span class="img-rounded" style="background-color:#eee;padding: 3px;border-radius:4px;">{{event.date.dayOfMonth}}/{{event.date.monthValue}}/{{event.date.year}}</span>
          </div>
            <dl class="dl-horizontal" >
              <dt class="col-sm-3">Description lists</dt>
              <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

              <dt class="col-sm-3">Euismod</dt>
              <dd class="col-sm-9">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
              <dd class="col-sm-9 offset-sm-3">Donec id elit non mi porta gravida at eget metus.</dd>

              <dt class="col-sm-3">Malesuada porta</dt>
              <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

              <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
              <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
            </dl>


        </div>
      </div>




      <div class="row" style="padding:8px;">

      </div>
<button type="button" class="btn btn-primary btn-sm" (click)="goBack()">back</button>
    </div>
  </div>

</div>
