<h4>You search: <b>{{search}}</b> </h4>
<hr>
<div class="col-md-4" *ngFor="let event of events" style="height: 476.656px;">
  <!--Card-->
  <div class="card">

    <!--Zoom effect-->
    <div class="view hm-zoom event-tile overlay hm-blue-light" (click)="gotoDetail(event)" >
        <img class="img-fluid" src="{{event.pic_link}}" alt="Card image cap" style="height: 180.656px;">
        <div class="mask flex-center">

        </div>
    </div>
      <!--Card image-->

      <!--/.Card image-->
      <!--Card content-->
      <div class="card-block">
        <div class="row">
          <div class="col-md-10">
          <!--Title-->
            <h4 class="card-title">{{event.title}}</h4>
          </div>
          <div class="col-md-2" [ngSwitch]="event.type">
            <i *ngSwitchCase="'SPECTACLE'" class="fa fa-child fa-2x"></i>
            <i *ngSwitchCase="'MOVIE'" class="fa fa-camera-retro fa-2x"></i>
          </div>
        </div>
          <!--Text-->
          <p class="card-text">{{event.description}}</p>

          <div class="col-md-8">
            <i class="fa fa-group fa-lg"></i> {{event.capacity}}
          </div>

          <div class="col-md-4">
            <i class="fa fa-dollar fa-lg"></i> {{event.price}}
          </div>

          <div class="col-md-8" style="margin-top:12px;">
          </div>

          <div class="col-md-4">
            <a (click)="gotoDetail(event)" class="btn btn-primary float-right">View</a>
          </div>

      </div>
      <!--/.Card content-->
  </div>
  <!--/.Card-->
</div>
