<div class="col-md-12">

      <h4 class="card-title">Popular events</h4>
      <hr>


      <div class="card-group">
          <div class="card" *ngFor="let eventsStat of eventsStats">
              <a href="/event/{{eventsStat.evt_id}}"> <img src="{{eventsStat.pic_url}}" class="img-fluid rounded" alt=""></a>
              <div class="card-block">
                  <h4 class="card-title">{{eventsStat.evt_title}}</h4>
                  <p class="card-text">{{eventsStat.lct_name}} - {{eventsStat.evt_price}}<i class="fa fa-dollar"></i></p>
                  <p class="card-text"><small class="text-muted">Visitors: {{eventsStat.visits}}</small></p>
              </div>
          </div>
      </div>


        <h4 class="card-title" style="margin-top:20px;">Event by city</h4>
        <hr>

        <div *ngFor="let event of eventCityMaxStat" class="col-md-3">



          <h5>{{event.lct_name}}</h5>
              <div class="view overlay hm-zoom hm-black-light">
                  <a href="/event/{{event.evt_id}}"> <img src="{{event.pic_url}}" class="img-fluid rounded" alt=""></a>
                  <div class="mask flex-center waves-effect waves-light">
                      <p class="white-text">{{event.evt_title}}</p>
                  </div>
              </div>
        </div>






<div class="col-md-12" style="margin-top:20px;">
  <h4 class="card-title">Intresting events</h4>
  <hr>
  <div class="col-md-4" *ngFor="let event of events; let i=index" >
    <!--Card-->
    <div class="card">

      <!--Zoom effect-->
      <div class="view hm-zoom event-tile overlay hm-blue-light" (click)="gotoDetail(event)" >
          <img class="img-fluid" src="{{event.picture.picture}}" alt="Card image cap">
          <div class="mask flex-center">

          </div>
      </div>
        <!--Card image-->

        <!--/.Card image-->
        <!--Card content-->
        <div class="card-block">
          <div class="row">
            <div class="col-md-10">
            <!--Title-->
              <h4 class="card-title">{{event.title}}</h4>
            </div>
            <div class="col-md-2" [ngSwitch]="event.type">
              <i *ngSwitchCase="'SPECTACLE'" class="fa fa-camera-retro fa-2x"></i>
              <i *ngSwitchCase="'MOVIE'" class="fa fa-child fa-2x"></i>
              <i *ngSwitchCase="'MISC'" class="fa fa-slack fa-2x"></i>
            </div>
          </div>
            <!--Text-->
            <p class="card-text">{{event.description}}</p>

            <div class="col-md-8">
              <i class="fa fa-group fa-lg"></i> {{event.capacity}}
            </div>

            <div class="col-md-4">
              <i class="fa fa-dollar fa-lg"></i> {{event.price}}
            </div>

            <div class="col-md-8" style="margin-top:12px;">
              <i class="fa fa-calendar-check-o fa-lg"></i> <span class="img-rounded" style="background-color:#eee;padding: 3px;border-radius:4px;">{{event.date.dayOfMonth}}/{{event.date.monthValue}}/{{event.date.year}}</span>
            </div>

            <div class="col-md-4">
              <a (click)="gotoDetail(event)" class="btn btn-primary float-right">View</a>
            </div>

        </div>
        <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
</div>


<div class="col-md-8" style="margin-top:20px;">
  <!--Panel-->
  <div class="card card-block text-xs-center table-responsive">
        <h4 class="card-title">Event statistics by city</h4>
        <hr>
    <table class="table table-bordered table-sm text-xs-center">
      <thead class="thead-inverse text-xs-center">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Type</th>
          <th>Price</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of eventCatMaxStat; let i=index" >
        <th scope="row">{{i+1}}</th>
        <td><a href="/event/{{event.evt_id}}">{{event.evt_title}}</a></td>
        <td  [ngSwitch]="event.evt_type" class="text-xs-center">
          <i *ngSwitchCase="'SPECTACLE'" class="fa fa-child fa-2x"></i>
          <i *ngSwitchCase="'MOVIE'" class="fa fa-camera-retro fa-2x"></i>
          <i *ngSwitchCase="'MISC'" class="fa fa-slack fa-2x"></i>
        </td>
        <td>{{event.evt_price}}</td>
        <td>{{event.cty_name}}</td>
      </tr>
      </tbody>
    </table>
</div>
<!--/.Panel-->
</div>





        <div class="col-md-4" style="margin-top:20px;">
          <!--Panel-->
          <div class="card card-block text-xs-center table-responsive">
                <h4 class="card-title">Active users</h4>
                <hr>
                <p *ngFor="let user of usersActivity; let i=index" >
                  {{user.usr_fst_name}} {{user.usr_scn_name}} ({{user.usr_name}}) <span class="tag blue">{{user.visits}}</span>
                </p>
        </div>
        <!--/.Panel-->
        </div>
