<div class="container-fluid">
    <div *ngIf="locatione" class="row">
      <div class="col-md-4">
        <img class="img-fluid img-thumbnail" src="{{locatione.city.picture.picture}}" />
      </div>

      <div class="col-md-8">
        <!--Panel-->
        <div class="card card-block">
          <h4 class="card-title">Information</h4>
          <hr>
          <dl class="dl-horizontal">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">{{locatione.name}}</dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">{{locatione.description}}</dd>

          </dl>
        </div>
      </div>
        <!--/.Panel-->
      </div>
</div>
