<!--Panel-->
<div class="card card-block">
    <h4 class="card-title">Search criteria</h4>
    <hr>
    <div class="col-md-12 col-xs-12">

      <div>
          <!--Second row-->
          <div class="row">
              <!--First column-->
              <div class="col-md-12">

                <label>Category</label>
                <select class="browser-default">
                    <option value="" disabled selected>Choose category</option>
                    <option value="1">All</option>
                    <option value="2">Movie event</option>
                    <option value="3">Music event</option>
                </select>

              </div>
          </div>
          <!--/.Second row-->

          <!--Third row-->
          <div class="row">

              <!--First column-->
              <div class="col-md-4">
                <input type="checkbox" id="checkbox1" (click)="changeFirst()">
                <label>Title</label>
                  <div class="md-form" >
                      <input type="text" id="form41" class="form-control" [disabled]="first">
                      <label for="form41" class="">Title</label>
                  </div>
              </div>

              <!--Second column-->
              <div class="col-md-4">
                <input type="checkbox" id="checkbox1" (click)="changeSecond()">
                <label>City</label>
                  <div class="md-form">
                      <input type="text" id="form51" class="form-control" [disabled]="second">
                      <label for="form51" class="">City</label>
                  </div>
              </div>

              <!--Third column-->
              <div class="col-md-4">
                <input type="checkbox" id="checkbox1" (click)="changeThird()">
                <label>Price</label>
                  <div class="md-form">
                      <input type="text" id="form61" class="form-control" [disabled]="third">
                      <label for="form61">Price</label>
                  </div>
              </div>

          </div>
          <!--/.Third row-->


          <div class="row">
            <button type="button" class="btn btn-primary">Search</button>
          </div>
      </div>
    </div>
</div>
<!--/.Panel-->
